<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= (path === '/') ? 'active' : '' %>">Home</a>
      </li>
      <li class="main-header__item" id="employees-nav-item">
        <a
          href="/employees"
          class="<%= (path === '/employees') ? 'active' : '' %>"
          >Employees</a
        >
        <ul class="dropdown-menu">
          <li class="main-header__item dropdown-item">
            <a href="/add-employee">Add Employee</a>
          </li>
        </ul>
      </li>
      <li class="main-header__item"><a href="#">Hire me</a></li>
      <li class="main-header__item"><a href="#">Notifications</a></li>
      <li class="main-header__item">
        <a href="/test" class="<%= (path === '/test') ? 'active' : '' %>">Test</a>
      </li>
    </ul>
  </nav>
</header>
