<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= (path === '/') ? 'active' : '' %>">Home</a>
      </li>
      <li class="main-header__item" id="employees-nav-item">
        <a
          href="/employees"
          class="<%= (path === '/employees') ? 'active' : '' %>"
          >Employees</a
        >
      </li>
      <div class="dropdown-menu not-visible">
        <li class="main-header__item"><a href="/add-employee">Add Employee</a></li>
      </div>
      <li class="main-header__item"><a href="#">Hire me</a></li>
      <li class="main-header__item"><a href="#">Notifications</a></li>
    </ul>
  </nav>
</header>
